*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{

    text-align: center;
}
h1{
    padding: 1rem;
    align-items: center;
}
input[type="color"]{

    width: 200px;
    height: 40px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: transparent;
}